/* Основные стили проекта. За основу взята светлая тема (light). */

.page {
  min-inline-size: 375px;
  background-color: var(--background-color);
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: var(--font-size-main);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Стили, относящиеся к нескольким элементам и секциям на странице */

.title-decor {
  font-weight: bold;
  color: var(--text-accent-color);
}

.background-decor {
  background-color: var(--background-accent-color);
}

/* Стили шапки сайта */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--spacer-small);
}

.header__rec {
  position: absolute;
  top: var(--spacer-small);
  right: 20px;
  display: var(--rec-display);
  text-transform: uppercase;
  color: var(--accent-color-bright);
}

.header__rec::after {
  content: "";
  display: inline-block;
  inline-size: 7px;
  block-size: 7px;
  border-radius: 50%;
  box-shadow: 0 0 3px 3px var(--accent-color-bright);
  margin-inline-start: 10px;
  margin-block-end: 2px;
  background-color: var(--accent-color-bright);
}

.header__theme-menu-list {
  display: grid;
  gap: var(--spacer-small);
}

.header__theme-menu-button {
  border: 1px solid transparent;
  min-height: 26px;
  text-transform: lowercase;
  line-height: var(--line-height-nav);
  background-color: transparent;
  padding: 0 13px 3px;
  color: var(--nav-font-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--border-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.title {
  font-size: var(--title-font-size-small);
  line-height: var(--line-height-title);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__description {
  line-height: var(--line-height-main);
}

/* :is(header, .card) p:hover  */
/* :is(.header)::before { */
.header::before,
.header::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--border-color);
}

.header::before {
  top: var(--spacer-small);
  right: var(--spacer-small);
  border-bottom: none;
  border-left: none;
}

.header::after {
  bottom: var(--spacer-small);
  left: var(--spacer-small);
  border-top: none;
  border-right: none;
}

.footer {
  position: relative;
  display: grid;
  /* grid-template-rows: 1fr min-content 1fr; */
  justify-items: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--spacer-small);
}
