/* Основные стили проекта. За основу взята светлая тема (light). */

.page {
  min-inline-size: 375px;
  background-color: var(--background-color);
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.title-decor {
  font-weight: bold;
  color: var(--text-accent-color);
}

.background-decor {
  background-color: var(--background-accent-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--shadow-color);
}

.link:focus,
.link:focus-visible {
  outline: 1px solid var(--main-color);
}

.link:hover {
  border-bottom: 1px solid var(--main-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--page-padding);
}

.header__rec {
  position: absolute;
  top: var(--page-padding);
  right: 20px;
  display: var(--rec-display);
  text-transform: uppercase;
  color: var(--accent-color-bright);
}

.header__rec::after {
  content: "";
  display: inline-block;
  inline-size: 7px;
  block-size: 7px;
  border-radius: 50%;
  box-shadow: 0 0 3px 3px var(--accent-color-bright);
  margin-inline-start: 10px;
  margin-block-end: 2px;
  background-color: var(--accent-color-bright);
}

.header__theme-menu-list {
  display: grid;
  gap: var(--spacer-small);
}

.header__theme-menu-button {
  border: 1px solid transparent;
  min-height: 26px;
  text-transform: lowercase;
  line-height: var(--line-height-nav);
  background-color: transparent;
  padding: 0 13px 3px;
  color: var(--nav-font-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--border-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.title {
  font-size: var(--title-font-size-small);
  line-height: var(--line-height-title);
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  justify-self: start;
}

.footer .title {
  justify-self: center;
}

.header::before,
.header::after,
.footer::before,
.footer::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--border-color);
}

.header::before,
.footer::before {
  top: var(--page-padding);
  right: var(--page-padding);
  border-bottom: none;
  border-left: none;
}

.header::after,
.footer::after {
  bottom: var(--page-padding);
  left: var(--page-padding);
  border-top: none;
  border-right: none;
}

.page__section {
  display: grid;
  gap: var(--spacer-medium);
  padding: 0 var(--page-padding) 50px;
}

.page__section:first-of-type {
  padding-top: 40px;
}

.page__section:last-of-type {
  padding-bottom: 40px;
}

.page__section.illustrations {
  gap: var(--spacer-small);
}

.section__title {
  color: var(--title-color);
  font-size: var(--font-size-main);
}

.section__subtitle {
  font-size: var(--font-size-main);
  margin-bottom: var(--spacer-small);
}

.how .section__subtitle {
  font-weight: normal;
}

.tips .section__subtitle {
  color: #353430;
}

.illustrations .section__subtitle {
  margin-bottom: 0;
}

.section__content {
  display: grid;
  gap: var(--spacer-medium);
}

.tips {
  display: grid;
  gap: var(--spacer-medium);
}

.gallery {
  display: grid;
  gap: var(--gallery-gap);
}

.gallery__image {
  display: block;
  object-fit: contain;
  inline-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

@media (width >= 768px) {
  .header .title {
    margin-inline-start: -20px;
  }

  .header__rec {
    right: 30px;
  }

  .header__description {
    max-inline-size: 50%;
  }

  .why {
    grid-template-columns: 1fr 2fr;
  }

  .page__section {
    padding: 0 var(--page-padding) 80px;
  }

  .page__section:first-of-type {
    padding-top: 60px;
  }

  .page__section:last-of-type {
    padding-bottom: 60px;
  }

  .section__title {
    max-inline-size: 236px;
  }

  .section__content .section__title {
    max-inline-size: 100%;
  }

  .how {
    grid-template-columns: 1fr 2fr;
  }

  .illustrations .section__subtitle {
    margin-bottom: var(--spacer-small);
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .gallery__image {
    object-fit: cover;
    block-size: 100%;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }
}

@media (width >= 1024px) {
  .header {
    align-items: start;
    justify-items: center;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .title {
    font-size: var(--title-font-size-large);
    text-shadow: 4px 4px 0 var(--accent-color-bright);
  }

  .header__description {
    align-self: center;
    justify-self: end;
  }

  .section__title {
    max-inline-size: 314px;
  }

  .why,
  .how {
    gap: 10px;
  }

  .what .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
